# Ignore binaries.
#/bin

# Ignore non-custom parts of Drupal.
#/docroot/core
#/docroot/modules/contrib
#/docroot/profiles/contrib
#/docroot/themes/contrib
docroot/sites/default/files
docroot/sites/default/settings.php
docroot/sites/default/settings.local.php

# Ignore Composer-managed dependencies.
#vendor/

# Ignore backups
backup

# Ignore config files and DB dumps
.env
.lando.yml
*.sql
